</body>
<footer class="caixasFooter">

  <div class="logo">
    <img class="imgFooter" src="img/logo sem fundo.png" alt="Logo Rodapé">
    <h3>Bee-Tech Alliance</h3>
  </div>
  <div class="categorias">
    <div class="caixa">
      <h2>Empresa</h2>
      <ul>
        <li><a href="#">História</a></li>
        <li><a href="#">Missão, Visão e Valores</a></li>
        <li><a href="#">Compromissos</a></li>
        <li><a href="#">Unidades Fabris</a></li>
        <li><a href="#">Áreas de Atuação</a></li>
      </ul>
    </div>
  </div>
  <div class="sobre-nós">
    <div class="caixa">
    <h2>Sustentabilidade</h2>
    <ul>
      <li><a href="#">Política do ASG</a></li>
      <li><a href="#">Sistema de Gestão Ambiental</a></li>
      <li><a href="#">Projeto AMA</a></li>
    </ul>
    </div>

  </div>
  <div class="ajuda">
    <div class="caixa">
      <h2>Ajuda</h2>
      <ul class="lista">
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Tranparência Fiscal</a></li>
        <li><a href="#">Políticas de Privacidade</a></li>
        <li><a href="#">Termos de Serviço</a></li>
      </ul>
    </div>
  </div>
  <div class="redes">
    <div class="caixa">
    <h2>Redes</h2>
    <ul class="lista">
      <li><a href="#"><img src="img/facebook.png" alt="Facebook"></a></li>
      <li><a href="#"><img src="img/instagram.png" alt="Instagram"></a></li>
      <li><a href="#"><img src="img/twitter.png" alt="Twitter"></a></li>
      <li><a href="#"><img src="img/youtube.png" alt="Youtube"></a></li>
      <li><a href="#"><img src="img/whatsapp.png" alt="Whatsapp"></a></li>
    </ul>
    </div>
    
  </div>
  <div class="copyright">
    <p>&copy; Cervejaria Petropolis S/A - CNPJ 73.410.326/0055-53</p>
  </div>

</footer>

<a class="seta"><img src="../img/voltar.png" alt="Voltar"></a>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>