* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: rgb(39, 39, 39);
}

.headerHome {
  position: relative;
  background-color: rgb(67, 67, 67);
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.headerHome video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#navHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cabecalho {
  background-color: #ff5656;
}

/* .botoesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
} */

#cabecalho .row div {
  padding: 0;
  margin: 0;
}

.logo1 {
  width: 19%;
  padding-right: 100px;
  margin-left: 85px;
}

.marca {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  font-weight: 100;
  text-decoration: overline underline;
  text-decoration-color: #6c6c6c;
  color: rgb(0 0 0);
}

.nav {
  background-color: #939393;
  border-bottom: #dd0000 solid 2px;
}

.nav a {
  color: rgb(0 0 0);
}

.nav a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #ff0000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
  background-color: #e47599;
  color: white;
}

.dropdown-menu {
  left: 30%;
}

#corpoSite {
 background-color: #f6f7f1;
}

.noticiaBanner {
  background-color: #efe2b8;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 70px;
}

.seta {
  display: none;
  cursor: pointer;
}

.seta img {
  width: 48px;
  position: fixed;
  bottom: 70px;
  right: 5px;
}

.container img {
  width: 100%;
  margin: 15px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1600px;
}

.noticias {
  display: flex;
  flex-direction: column;
}

.noticiaCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgba(243, 243, 243, 0.727);
  border-radius: 15px;
  -webkit-box-shadow: 6px 7px 9px 1px rgba(0,0,0,0.08); 
  box-shadow: 6px 7px 9px 1px rgba(0,0,0,0.08);
}

#noticiaIMG{
  max-width: 100%;
  height: 43%;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: #101010 solid 2px;
  background-color: #ff2f2f;
}

footer h2 {
  font-weight: bold;
}

footer li {
  list-style-type: none;
}

footer a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer a:hover{
  font-weight: bold;
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.caixasFooter {
  display: grid;
  grid-template-columns: 30em 23em 21em 21em 20em;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "logo categorias sobre-nós ajuda redes"
    "copright copright copright copright copright";
}

.logo {
  display: grid;
  grid-area: logo;
  justify-content: center;
  margin-left: 70px;
}

.imgFooter {
  width: 40%;
}

.categorias { 
  display: grid;
  justify-content: center;
  grid-area: categorias; 
}

.sobre-nós { 
  grid-area: sobre-nós; 
  display: grid;
  justify-content: center;
}

.ajuda { 
  grid-area: ajuda; 
  display: grid;
  justify-content: center;
}

.redes { 
  grid-area: redes; 
  display: grid;
  justify-content: center;
}

.copyright { 
  grid-area: copright; 
  display: grid;
  justify-content: center;
  font-size: small;
}

.caixa {
  margin-top: 40px;
  width: 12em;
}

.redes .lista {
  margin-left: 30px;
}

.redes img {
  margin: 2px;
  width: 1.7em;
  opacity: 0.6;
}

