<%- include("../partials/header"); %>
<body>
  <div class="container mt-5 border border-dark rounded">
    <div class="row">
      <div class="col">
        <h1 class="mt-5 mb-5">Cadastro</h1>
        <form action="/biblioteca/cadastrarLivros" name="cadastro" method="POST">
          <div class="form-group mb-4">
            <label for="nome">Nome</label>
            <input type="text" id="nome" class="form-control" name="nome" placeholder="Digite seu nome">
          </div>
          <div class="form-group mb-4">
            <label for="cpf">CPF</label>
            <input type="number" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha"  placeholder="Digite seua senha">
          </div>
          <div class="form-group">
            <label for="codigo">Confirmar Senha</label>
            <input type="passwordCPF" class="form-control" id="confiSenha" name="confiSenha" placeholder="Confirme sua senha">
          </div>
          <button class="btn btn-success mb-3" type="submit" id="btnSubmit" onclick="validar(event)">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include("../partials/footer"); %>