<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
  <title>Cadastro</title>
</head>

<body>

</body>

</html>

<form class="ui form" action="/cadastro" name="cadastro" method="POST">
  <div class="field">
    <label>Nome Completo</label>
    <input type="text" name="first-name" placeholder="First Name">
  </div>
  <div class="field">
    <label>E-mail</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <label>CPF</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Senha</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Confirmar Senha</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="ui form">
    <div class="inline fields">
      <label for="fruit">Selecione uma opção</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
          <label>Pessoa Física</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="fruit" tabindex="0" class="hidden">
          <label>Pessoa Jurídica</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Condordo com os termos e condições</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
</form>
