<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <section class="container mt-5 border border-dark rounded">
    <div class="row">
      <div class="col">
        <div class="row mt-5">
          <div class="col-6">
            <h1>Livros Catalogados</h1>
            <div class="col-6">
              <a href="biblioteca/cadastrarLivros" class="btn btn-outline-secondary mb-2 mt-5">Inserir Livros</a>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Nome</th>
              <th>Autor</th>
              <th>Código de Barras</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <% if(listar_usuario == "") { %>
              <tr>
                <td colspan="4" class="alert alert-warning">Não há produtos cadastrados</td>
              </tr>
            <% } else {listar_usuario.forEach(function(usuario){ %>
              <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.autor %></td>
                <td><%= usuario.codigoBarras %></td>
                <td>
                  <a href="biblioteca/editarLivro/<%= livro._id %>" class="btn btn-outline-warning btn-sm">Editar</a>
                  <a href="biblioteca/deletarLivro/<%= livro._id %>" class="btn btn-outline-danger btn-sm">Deletar</a>
                </td>
              </tr>
            <% })} %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>
</html>