<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Login</title>
  <style>
    body {
      background-image: url('img/forest1.jpg');
      background-size: cover;
      background-position: center;
    }

    input {
      background-color: none;
      outline: none;
      padding: 5px 0;
      margin: 5px 0;
    }

    #form {
      filter: opacity(75%);
      filter: blur(90%);
    }

    .btn {
      margin: 15px 0 0;
    }

    .footer {

      background-color: #ddd;
      width: 100%;
      height: 60px;
      bottom: 0;
      position: fixed;
    }
  </style>
</head>


<body style="display: flex; flex-direction: column; margin: 0 auto;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">BEE-ESG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro">Cadastro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div id="form" style="display: flex; flex-direction: column; margin: 260px auto; background-color: white; padding: 20px 40px; border-radius: 16px;">
    <h1 style="text-align: center;">Login</h1>
    <form  action="/logar" method="POST">
      Usuário: <input type="text" name="usuario" /><br />
      Senha: <input type="password" name="senha" style="margin-left: 10px;" /><br>
      <div class="d-grid gap-2">
        <input type="submit" class="btn btn-danger" value="Enviar">
      </div>
    </form>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>